@model Warehouse.Models.Storage
@{
    ViewBag.Title = "Удаление склада";
}

<div>
    <h1>Удалить склад @Model.ID?</h1>
    <div>
        <form asp-controller="Storage" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>