@{
    ViewBag.Title = "Email MAPS-5";
}

<form method="post" action="~/Warehouse/Email">
    <label>Адрес:</label><br />
    <input type="email" name="emailAddress" /><br />
    <label>Тема:</label><br />
    <input type="text" name="subject" /><br />
    <label>Сообщение:</label><br />
    <textarea type="text" name="message"></textarea><br />
    <input type="submit" value="Отправить" />
</form>